@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-white font-sans antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #3b3b55 transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #3b3b55;
    border-radius: 3px;
  }
}

@layer components {
  .card {
    @apply bg-card border border-border rounded-2xl;
  }
}
